*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid black;

}
.Nav{
    background-color:  #c3e6dc;
    padding-top: 20px;
    padding-bottom: 20px;
}
.Search{
    padding-right: 20px;
}
.header-left{

    padding: 20px 0px;
}

.logo img{
    width: 80px;
    height: 80px;
}
.header-right p{
    font-size: 24px;
    color: #c3e6dc;
    font-family: Georgia, 'Times New Roman', Times, serif;
}
.Nav{
    display: flex;
    justify-content: space-between;
}
.Menu a{
    text-decoration: none;
    padding-left: 60px;
    font-size: 20px;
    color: black;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.Menu a:hover{
    color: #fbc88c;
    transition: 0.3s ;
}
.body{
    border-top: 1px solid black;
    display: flex;
    height: 500px;
}
.body-left{
    border-right: 1px solid black ;
    background-color: #c3e6dc;;
}
.body-left ul li{
    display: block;
    margin-top: 15px;
    padding-right: 60px;

}
.body-left ul li {
    list-style: none;
    font-size: 18px;
    font-weight: 500;
    font-family: 'Times New Roman', Times, serif;
}
.body-left ul li a{
    text-decoration: none;
    margin: 5px;
    color: #2b2b2b;
}
.body-left ul li a:hover{
    background-color: white;
    transition: 0.3s;
    font-size: 120%;
}
.body-right{
    width: 1000px;
}
.body-right p{
    text-align: center;
    align-items: center;
}
.footer{
    border-top: 1px solid black;
}
.footer{

    height: 60px;
}
.footer p{
    text-align: center;
}

.text{
    color: #c3e6dc;;
    text-align: center;
    font-family: 'Times New Roman', Times, serif;
    padding: 20px 0px;
}
.infor-customer{
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
    align-content: center;
}
.infor-customer input{
    width: 50%;
    margin-bottom: 10px;
    margin-left: 20px;
    padding: 3px;
    font-family: Gabriola;
}
.body-right button{
    width: 50px;
    height: 35px;
    text-align: center;
    justify-content: center;
    color: #2b2b2b;
    background-color: azure;
    margin-bottom: 15px;
    border-radius: 10%;
    font-family: 'Times New Roman', Times, serif;

}
.add-new{
    text-align: center;
    justify-content: center;
    font-family: 'Times New Roman', Times, serif;
}
.body-right button:hover{
    color: white;
    background-color: black;
    transition:0.4s;
}
.radio{
    display: flex;
    width: 20%;
    float: left;
    font-family: 'Times New Roman', Times, serif;
}